<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://kit.fontawesome.com/fb45b9aef4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/home.css">
    <title>UAV WEB APP</title>
</head>
<!-- Main HTML -->
<body>
    <div id="layOut">
      <!-- Navbar -->
      <div class="navbar-nav" id="navbar">
        <nav class="nav__container">
          <!-- Nav1 -->
          <div class="nav_list">
             <!-- Logo -->
            <a href="#" class="nav__link nav__logo">
              <i class="fas fa-cogs nav__icon"></i>
              <span class="nav-hiden" onclick="drop()">UAV Control</span>
            </a>
            <div class="nav_items">
              <h4 class="nav_subtitle nav-hiden">Control</h4>

              <a href="#" class="nav__link">
                <i class="fas fa-map-marker-alt nav__icon"></i>
                <span class="nav__name nav-hiden">Drone Checking Pos</span>
              </a>
              <a href="#" id="flying" class="nav__link">
                <i class="fas fa-paper-plane nav__icon"></i>
                <span class="nav__name nav-hiden">Fly</span>
              </a>
              <!-- dropdown -->
              <div class="nav__dropdown">
                <a href="#" class="nav__link">
                  <i class="fas fa-photo-video nav__icon"></i>
                  <span class="nav__name nav-hiden">Media</span>
                  <i class="fas fa-chevron-down nav__icon nav__dropdown-icon nav-hiden"></i>
                </a>
                <!-- dropdown items -->
                <div class="nav__dropdown-collapse">
                  <div class="nap__dropdown-content">
                    <a href="#" class="nap__dropdown-items nav__link">
                      <i class="fas fa-film nav__icon"></i>
                      <span class="nav__name nav-hiden">Video</span>
                    </a>
                    <a href="/stream" class="nap__dropdown-items nav__link">
                      <i class="fas fa-podcast nav__icon"></i>
                      <span class="nav__name nav-hiden">Streaming</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Nav2 -->
            <div class="nav_items">
              <h4 class="nav_subtitle nav-hiden">Setting</h4>

              <a href="#" class="nav__link">
                <i class="fas fa-map-marker-alt nav__icon"></i>
                <span class="nav__name nav-hiden">abc</span>
              </a>
            </div>
          </div>

          <!-- Log out -->
          <a href="#" class="nav__link">
            <i class="fas fa-sign-out-alt"></i>
            <span class="nav__name nav-hiden">Log Out</span>
          </a>
        </nav>
      </div>
      <!-- Info -->
      <div class="content right">
        <div class="info">
          <span>Embedded Networking Laboratory C9-411</span>
        </div>
        <div id="map-canvas" class="map"></div>
      </div>
      <!-- Drone Position -->
      <div class="drone-pos">
        <div class="pos-1">Drone Position</div>
        <div class="pos-2">
          <p>Latitude</p>
          <p id="lat">27.0000</p>
          <p>Longitude</p>
          <p id="lng">125.0000</p>
        </div>
      </div>
      <div class="publish-data">
      <div class="input-group mb-3">
          <input type="text" id="new-node" class="form-control" placeholder="Enter new node here" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button id="btn-publish" class="btn btn-primary" type="button">Publish Node</button>
          </div>
        </div>
      </div>
      <div class="drone-pos data-sensor" style="margin: 120px 80px 0 150px; height: auto;">
        <div class="pos-1"></div>
        <div class="pos-2">
          <p id="key1"></p>
          <p id="key2"></p>
          <p id="key3"></p>
          <p id="key4"></p>
          <p id="key5"></p>
          <p id="key6"></p>
          <p id="key7"></p>
          <button type="button" style="float: right;" class="btn">CLOSE</button>
        </div>
      </div>
    </div>
    <script src="/static/bundle.js"></script>
    <!-- <script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDhAMMXFpoAmcYeyKsVJvdD1JjXTPTjAM8&libraries=drawing&callback=initialize"></script>
  </body>
</html>