
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
#layOut {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.info {
    height: 70px;
    border-bottom: 1px solid gray;
    text-align: center;
    line-height: 70px;
    font-size: 28px;
    background-color: rgb(30, 86, 128);
    color: white;
}
.map {
    height: 100%;
    width: 100%;
}
::-webkit-scrollbar { 
    display: none; 
}
/* Design Navbar */
.navbar-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 65px;
    height: 100%;
    padding: 10px 10px 30px 20px;
    background-color: #ffffff;
    box-shadow: 1px 0 0 rgba(22, 8, 43, .1);
    transition: width 200ms ease;
    z-index: 100;
}
.nav__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    scrollbar-width: none;
}
.nav__logo {
    font-weight: 600;
    margin-bottom: 15px;
}
.nav_list {
    display: grid;
    row-gap: 30px;
}
.nav_items {
    display: grid;
    row-gap: 17px;
}
.nav_subtitle {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #58555E;
}
.nav__link {
    color: #58555E;
    display: flex;
    align-items: center;
}
.nav__link:hover {
    color: #6923D0;
    text-decoration: none;
}
.nav__name {
    font-weight: 400;
    white-space: nowrap;
}
.nav__icon {
    font-size: 20px;
    margin-right: 10px;
}
.active {
    color: #6923d0;
}
/* Dropdown collaps */
.nav__dropdown {
    overflow: hidden;
    transition: .4s ease-in-out;
    max-height: 21px;
}
.nav__dropdown-icon {
    margin-left: auto;
    transition: .4s;
}
.nav__dropdown-collapse {
    border-radius: 3px;
    margin-top: 10px;
    background-color: #b4b4b4;
}
.nap__dropdown-content {
    display: grid;
    row-gap: 7px;
    padding: 15px 10px 10px 20px;
}
.nav__dropdown:hover .nav__dropdown-icon {
    transform: rotate(180deg);
}
/* Drone POSITION */
.drone-pos {
    position: absolute;
    z-index: 1;
    margin: 240px 80px 0 1080px;
    height: 125px;
    width: 200px;
    background-color: #3c3c3c;
    display: flex;
    flex-direction: column;
    color: white;
}
.publish-data {
    position: absolute;
    margin: 300px 180px 0 450px;
    height: auto;
    width: 400px;
    display: none;
}
.drone-pos p{
    margin-bottom: 0px;
    text-align: center;
}
.pos-1{
    background-color: #b4b4b4;
    text-align: center;
    color: #003f57;
}
.data-sensor {
    display: none;
}
/* Dropdown show */
.nav__dropdown:hover {
    max-height: 160px;
}
.nav-hiden {
    opacity: 0;
}
.navbar-nav:hover {
    width: 230px;
}
.navbar-nav:hover .nav-hiden{
    opacity: 1;
}
/* Responsive */
@media only screen and (min-width: 370px) and (max-width: 1024px)
{
    .drone-pos {
        margin: 250px 0 0 600px;
    }
}